absl-py==0.12.0
aiohttp==3.7.4.post0
amqp==5.0.6
apache-beam==2.33.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
avro-python3==1.9.2.1
billiard==3.6.4.0
cachetools==4.2.4
celery==5.0.5
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
clang==5.0
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comtypes==1.1.10
contextlib2==21.6.0
crcmod==1.7
cycler==0.10.0
Cython==0.29.24
dill==0.3.1.1
dm-tree==0.1.6
docopt==0.6.2
face-recognition-models==0.3.0
fastapi==0.60.1
fastavro==1.4.5
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gin-config==0.4.0
google-api-core==2.1.1
google-api-python-client==2.26.1
google-auth==2.3.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.41.0
h11==0.12.0
h5py==3.1.0
hdfs==2.6.0
httplib2==0.19.1
idna==3.3
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kaggle==1.5.12
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kombu==5.1.0
lvis==0.5.3
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
multidict==5.2.0
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.1
object-detection @ file:///D:/models/research
opencv-python==4.5.1.48
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
orjson==3.6.4
pandas==1.3.4
Pillow==8.4.0
playsound==1.3.0
portalocker==2.3.2
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
py-cpuinfo==8.0.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydantic==1.8.2
pydot==1.4.2
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.5
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyshine==0.0.9
pytesseract==0.3.7
python-dateutil==2.8.2
python-dotenv==0.15.0
python-slugify==5.0.2
pyttsx==1.1
pyttsx3==2.90
pytz==2021.3
pywin32==302
PyYAML==6.0
regex==2021.10.8
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacrebleu==2.0.0
scenedetect==0.5.5
scikit-learn==1.0
scipy==1.7.1
sentencepiece==0.1.96
seqeval==1.2.2
six==1.15.0
SQLAlchemy==1.3.21
starlette==0.13.6
tabulate==0.8.9
telepot==12.7
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-model-optimization==0.7.0
tensorflow-text==2.6.0
termcolor==1.1.0
text-unidecode==1.3
tf-models-official==2.6.0
tf-slim==1.1.0
threadpoolctl==3.0.0
tinydb==4.3.0
tqdm==4.62.3
typeguard==2.13.0
typing-extensions==3.7.4.3
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.12.3
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
win10toast==0.9
wrapt==1.12.1
yarl==1.7.0
